@import '../../assets/scss/_mixins.scss';

.banner {
    width: 100%; 
    margin-bottom: var(--section-mb);
    background-color: var(--color-green);
    @include font(30, 500, 36);
    color: var(--color-white);

    @at-root &__container {
        max-width: 1024px;
        height: calc(100vh - 100px - 80px);
        margin: 0 auto;
        @include flex(space-between, center);
        gap: 40px;
    }
    

    @at-root &__info {
        flex: 1;
    }

    @at-root &__img {
        flex: 1;

        @include flex(center, center);
    }

    @at-root &__img-img {
        width: 100%;
        max-width: 600px;
        height: auto;
        box-shadow: 7px 15px 46px rgba(0, 0, 0, 0.25);
    }

    @at-root &__arrow {
        display: block;
        width: 100%;
        height: 80px;
        background-color: var(--color-green);
        @include flex(center, flex-start);
        cursor: pointer;
        animation: translateY 0.4s ease;
        animation: scale 0.4s ease;

            &:hover .icon {
                transform: translateY(5px) scale(0.9);
            }
        
        .icon {
            transform: scale(0.8);
        }
    }
}

.about {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: var(--section-mb);

    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        padding: 1rem 0;
    }

    &__text {
        grid-column: 1/3;
        align-self: center;
        @include font(24, 500, 28);
    }

    &__img-img {
        object-fit: cover;
        overflow: hidden;
        max-width: 100%;
    }

    &__img-double {
        grid-column: 3/5;
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.for-download {
    width: 100%;
    max-width: 1024px;
    padding: 1rem 0;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: var(--section-mb);
    @include font(20, 500, 24);

    @at-root &__tiles {
        width: 100%;
        @include flex(space-between, stretch);
        gap: 40px;
    }

    @at-root &__tile {
        flex: 0 1 25%;

        @include flex(flex-start, flex-start, column);
        gap: 25px;
    }

    @at-root &__img {
        width: 100%;
        padding: 20px;
        box-shadow: 7px 15px 46px rgba(0, 0, 0, 0.25);

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @at-root &__button {
        padding: 0.75rem 1.5rem;
        border-radius: 0.75rem;
        text-decoration: none;
        color: var(--color-white);
        @include font(20, 600, 24);
        background-color: var(--color-blue);

        &:hover {
            background-color: var(--color-blue-light);
        }
    }
}